python-dotenv
mne==1.6.1
scikit-learn
matplotlib
tensorflow<=2.14
# tf_keras

# pip install torch --index-url https://download.pytorch.org/whl/cu118
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
pandas
seaborn

moabb
braindecode
torcheeg
optuna
plotly
kaleido